
<%= link_to "se déconnecter", destroy_user_session_path , method: :delete%>
    <div class="row">
      <%= form_tag contents_path method: :post do %>
        <%= text_area_tag 'comment', nil ,{class:"form-control"} %>
        <br>
        <%= submit_tag "save" , {class: "btn btn-danger"} %>
      <% end %>
    </div>

  <div class="row">
    <ul>
      <% if @content.blank? %>
        <%= Contenu vide %>
      <%else %>
        <% @content.each do |contenu| %> <!-- Mix FR/EN, bof bof... -->
          <%= current_user.email %>
          <li><%= contenu.contenu %></li> <!-- Grmblf... ok ça marche, mais attention au nomage ! -->
          <button class="btn btn-dark">like</button> 
          <button class="btn btn-dark">Dislike</button>
        <% end %>
      <%end %>

    </ul>
  </div>

