
<%= link_to "se déconnecter", destroy_user_session_path , method: :delete%>
    <div class="row">
      <%= form_tag contents_path method: :post do %>
        <%= text_area_tag 'comment', nil ,{class:"form-control"} %>
        <br>
        <%= submit_tag "save" , {class: "btn btn-danger"} %>
      <% end %>
    </div>

  <div class="row">
    <ul>
      <% @content.each do |contenu| %>
        <%= current_user.email %>
        <li><%= contenu.contenu %></li>
        <button class="btn btn-dark">like</button>
        <button class="btn btn-dark">Dislike</button>
      <% end %>
    </ul>
  </div>

